<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tic-tac-toe-db?serverTimezone=Europe/Warsaw</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Update database on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Current session context-->
        <property name="current_session_context_class">thread</property>

        <!-- Annotated entity classes -->
        <mapping class="com.example.tictactoespring.user.User"/>
        <mapping class="com.example.tictactoespring.game_session.GameSession"/>
    </session-factory>
</hibernate-configuration>