.board {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
    width: 600px;
    height: 600px;
}
.field {
    flex: 0 0 32%;
    height: 200px;
    margin: 1px;
    border: 3px solid black;
}